.gallery_up{
width:100%;
background:;
overflow:hidden;
padding-bottom:20px;
}

.gallery_up p{
    font-size: 20px;
    margin: 0px 0 9px;
    border-top: 2px solid rgba(220, 220, 220, 0.38);
    padding-top: 5px;
    color: #3c8dbc;
}

.prod_block {
    /* background-color: #fff; */
    border:1px solid rgba(221, 221, 221, 0.64);
    /* background-color: #fff; */
    /* border: 1px solid #00c0ef; */
    padding: 2px 2px 1px 2px;
    overflow: hidden;
    transition: all 0.5s;
    margin-bottom: 20px;
    box-shadow: inset 0px 0px 10px 1px rgba(220, 220, 220, 0.57);
}

.prod_block img{
	min-height:125px;
	max-height:125px;
}

.prod_block_action a {
    margin-right: ;
    margin-top: 1px;
}

.prod_block_action a:first-child{float: right;}
.prod_block_action a:first-child i{background: #3c8dbc;}
.prod_block_action a:last-child{float: left;}
.prod_block_action a i {
    color: white;
    padding: 2px 4px 3px;
}
	
.prod_block_action a i.fa-eye{
background:#00a65a;
}

.prod_block_action a i.fa-eye-slash{
background:#dd4b39;
}
.form_grp_blck{display:block;}

.gp_btn{margin-bottom:18px;}	

/*.label-holder:not(::first-line){
	background:red !important;
	}*/
.label-holder .lbl-blck{
    width: 19%;
    padding: 10px 10px 10px 10px;
    float: left;
}	

.label-holder .lbl-blck-dym {
    width: 33%;
    padding: 2px 10px 0px 10px;
    float: left;
}

.label-holder .lbl-blck label{
	   /* padding: 10px 25px 10px 25px;*/

}

/*.label-holder .lbl-blck:nth-child(odd){background:rgba(220, 220, 220, 0.19);}
.label-holder .lbl-blck:nth-child(even){background: #f1f1f1;}
*/
.lbl-int{}
.lbl-txt{
    font-size: 12px;
    max-height: 20px;
    overflow: hidden;
    min-height: 20px;
    text-overflow: ellipsis;
   /* white-space: nowrap;*/
}

@media only screen and (max-width:600px){
	
	.prod_width_resp{
		width:33%;
	}
}

@media only screen and (max-width:460px){
	
	.prod_width_resp{
		width:50%;
	}
}

@media only screen and (max-width:360px){
	
.prod_width_resp {
    width: 100%;
    margin: 0px auto;
    clear: both;
    float: none;
}
	
	.prod_block img {
	max-height:initial;	
    display: block;
    margin: 0px auto;
	}
}

