
@media (max-width:1366px) {
	.banner-slider .banner-text-new h2 { font-size: 40px; line-height: 42px; }
	.banner-slider .banner-text-new p { padding: 17px 10px 13px 10px; font-size: 20px; line-height: 22px; }
}

@media (max-width:1365px) {
	.banner-slider.owl-theme .owl-nav { right: 80px; }
}

@media (max-width:1280px) {

}

@media (max-width:1279px) {
	.banner-slider.owl-theme .owl-nav { right: 24px; }
}

@media (max-width:1199px) {
	* img { max-width: 100%; } 
	body { overflow-x: hidden; width: 100%; }
	.header .navbar-default-new { left: 50%; transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); }
	.businesses-main .businesses-box  { width: 31.3%; }
	.businesses .overlay .text1 { margin-top:10px; }
	.brands-main .brands-left a { background-position: top 21px right 25px; }
	.brands-main .brands-left a:hover { background-position: top 21px right 30px; }
	.brands-main .brands-left h3 { font-size: 19px; line-height: 24px; }
	.latest-news .latest-news-main h2 { font-size: 30px; top: -21px; }
	.footer-main .footer-five ul li a { margin-right: 10px; }
	/*.header .navbar-default .navbar-nav>li>a { padding: 15px 7px; margin: 0px; }*/
	.banner-slider.owl-theme .owl-nav { right: 3%; }
	/*.header .navbar-right .dropdown-menu-part { left: -252px !important; }
	.header .dropdown-menu:after { left: 31%; }
	.header .navbar-right .dropdown-menu-part1 { left: -356px !important; }
	.header .dropdown-menu.dropdown-menu-part1:after { left: 42%; }*/
	.rc-right .t-btn-main { width: 100%; } 
	.footer { padding: 30px 5px; }
	.footer-main .footer-one { padding-right: 30px; }
	.footer .container { width: 100%; }

	.banner-slider .banner-text-new { overflow:hidden; }
	.banner-slider .banner-text-new p { left: 0px; transform: none; float: left; font-size: 18px; line-height: 24px; }
	.banner-slider .banner-text-new h2 { font-size: 30px; line-height: 30px; }

	.rc-right .global-foyer { margin-bottom: 20px; }
	.banner-text.inner .banner-text-right { padding: 0 0px 0 0px; }
	.plan-feature-main .nav.nav-tabs1 > li { margin: 0px 5px 10px; }
	.plan-feature-main .nav.nav-tabs1 > li > a { font-size: 16px; padding: 10px 25px; }
	.plan-feature-main .nav.nav-tabs1 > li > a {}
	.plan-feature-main .tab-system .tab-text-part { margin-right: 24px; padding: 30px 15px 30px 15px; }
	.plan-feature-main .tab-system .tab-text-part:last-child { margin-right: 0px; }  
	.plan-feature-main .tab-system .tab-text-part h3 { height: 35px; padding-bottom: 0px; line-height: 35px; margin-bottom: 20px; }
	.plan-feature-main .tab-system .tab-text-part p { font-size: 16px; }
	.plan-feature-main .tab-system .tab-text-part h3 img { max-height: 100%; }
	.location-map .map-location { width: 57%; }
	.downloads-icon .downloads-icon-text { width: 25%; margin-right: 0px; text-align: center; }
	.downloads-main .downloads-icon { width: 100%; }
	.downloads-icon .downloads-icon-text a { display: inline-block !important; }
	.global_value ul li .box h3 { font-size: 22px; margin-bottom: 5px; }
	.global_value ul li .box p { padding-right: 29%; line-height: 26px; }
	.mission-box li .box { width: 60%; }
	.mission-box li { background-size: cover !important; }
	.environment2 ul li .box .text-box { width: 100%; }
	.flagship-area h2.title { font-size: 41px; }
	.environment2 ul li .box .text-box { padding: 45px 35px 33px 35px; }
	.csr-grey-box .support-box h3 { font-size: 25px; line-height: 28px; }
	.csr-area p { line-height: 27px; font-size: 18px; }
	.csr-grey-box { min-height: 0px; }
	.marriage-c .community h2.title { font-size: 25px; line-height: 28px; }
	.marriage-c .community p { line-height: 27px; font-size: 18px; }
	.marriage-c .community { height: auto; }
	.marriage-c .community .box.left { top: 0px; transform: none; }
	.marriage-c { min-height: 0px; }
	.header .navbar-default-new { max-width: 991px; }
	.media-area .media-list li .box .info .desc { font-size: 17px; line-height: 23px; min-height: 75px; }
	.media-area .media-list li {  }
	.locations ul li .box h3 { font-size: 21px; }
	.career-area .top-area p { line-height: 27px; }
	.locations { margin-top: 30px; }
	.contactus .site-offices ul li .box address { min-height: 80px; }
	.about-area .about-content .box.left { width: 60%; }
	.about-area .about-content .box.right { width: 40%; }
	.about-area .about-content .box p { font-size: 15px; line-height: 22px; }
	.chairmen-msg .box { width: 100%; background-size: cover; }
	.rc-right .global-foyer { min-height: 0px; }
	.location-map .location-map-main p br { display: none; }
	.plan-feature .container { width: 100%; }
	.overview .overview-main p { font-size: 16px; line-height: 21px; }
	.overview .overview-main h4 { font-size: 16px; }

	.banner.inner-b { height: auto !important; }
	.banner-text.inner { margin-top: 0px; } 
	.banner-text.inner.bre-slider { margin-top: -50px; } 
	.banner.inner-b .banner-part1 { height: auto !important; min-height: 0px; }
	.banner.inner-b .banner-part1 img { display: block !important; width: 100%; }

	.about-area .top-content .box.right { padding: 19px 0px 0px 28px; }

	.csr-grey-box .box.left a { margin-top: 0px; }
	.csr-grey-box h2 { margin: 10px 0px; font-size: 20px; line-height: 24px; }
	.csr-grey-box .box.left { padding-right: 15px; }
	.csr-grey-box h2 br { display: none; } 

	.envir-list ul li .box .info { padding: 25px 15px 33px 15px; text-align: center; }
	.envir-list ul li .box h3.title { text-align: center; font-size: 18px; }
	.envir-list ul li .box { min-height: 625px; }

	.rc-right .tab-text .tab-text-right, .rc-right .panel-body .img { height: auto; }
	.rc-right .panel-body .img:hover img, .rc-right .tab-text .tab-text-right:hover img { transform: none !important; } 
	.rc-right .top-pp { margin-bottom: 50px; }
	.rc-right .t-btn-main { top: 27px; } 
	.rc-right .tab-text .tab-text-left { padding-right: 0px; margin-bottom: 10px; }

	.media-area .media-list li .box .img { height:auto; }
	.media-area .media-list li .box .img img { transform: none !important; }

	.location-map .map-location .map iframe { height: 540px; }

	.about-bottom .box.left { padding: 20px 20px; }
	.about-area h2 { font-size: 26px; }
	.about-bottom .box.left .quote { right: 25px; }
	.about-bottom .box.right { padding: 30px 40px; }

	.banner.inner-b.csr .banner-part1 .caption2 { bottom: 30px; }
	.banner.inner-b.cl .banner-part1 .caption2 { bottom: 30px; }

}

@media (max-width:1024px) {
	a.busi-link.dropdown-toggle { pointer-events: none; }
}

@media (max-width:991px) {
	.header .navbar>.container-fluid .navbar-brand { margin-left: 0px; }
	.header .navbar-brand > img { /*width: 230px;*/ max-width: 100%; }
	.header .navbar>.container-fluid .collapse { display: block; border-top: 1px solid #ddd; }
	.header .navbar-default-new { width: 100%; }
	.header .navbar { border-radius: 0px; }
	.header .container-fluid { padding: 0px; }
	.header .navbar-default .navbar-nav>li>a { padding:10px 19px; margin:0px; }
	.navbar-header {float: none; }
    .navbar-toggle {display: block; margin-right: 0px; margin-top: 30px; }
    .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); padding: 0px; position: fixed; top: 105px; left: 0px; width: 100%;   background: #f4f4f3; min-height: 0px; height: 0px; }
    .navbar-collapse.collapse { display: none !important; }
	.navbar-collapse.collapse.in {  display: block !important; height: 290px; } 
	.navbar-nav {float: left!important; width: 100%;  margin: 0px; }
    .navbar-nav>li { float: left; width: 100%; border-bottom: 1px solid #ddd; }
    .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
    .header .navbar-right { margin-top:0px; }
	.header .navbar-right li.dropdown ul.dropdown-menu { border-radius: 0px !important; position: relative; left: 0px !important; top: 0px; display: none !important; background-color: #3b3c3cf2; }
	.header .navbar-right li.dropdown:hover ul.dropdown-menu { width: 100%; left: 0px !important; display: block !important; }
	.header .navbar-right li.dropdown ul.dropdown-menu:after { left: 40px !important; }
	.header .logo-img-part { background-color: #3b3c3cf2; }
	.header .navbar-default-new.headerfix .navbar-collapse { top: 66px; }
	.header .navbar>.container-fluid .navbar-collapse { margin: 0px; }
	.header .b-menu .b-menu-left { margin-right: 4%; }
	.header .com-main .com-left { width: 50%; }
	.header .com-main .com-right { width: 50%; }
	.header .com-main .com-right .pull-left { width: 50%; }
	.header .nav-tabs-m.nav-tabs>li>a { font-size: 15px; }
	.header .logo-img-part .drop-one h2 { font-size: 16px; }
	.header .logo-img-part .drop-one ul li a  { font-size: 13px; }
	.footer button.sub2 { padding: 5px; right: 5px; }
	.footer button.sub2 img { width: 21px; }
	.footer-main .footer-one { width: 100%; padding-right: 0px; text-align: center; margin-bottom: 30px; }
	.footer-main .footer-two, .footer-main .footer-three, .footer-main .footer-four { width: 20%; }
	.footer-main .footer-five { width: 40%; }
	.latest-news .latest-news-main { min-height: 290px; }
	.latest-news-main .news-box { padding: 20px 20px; height: 280px; }
	.news-box .news-text p { font-size: 18px; }
	.banner-slider.owl-theme .owl-nav { right: 75px; }

	.banner-slider .banner-part .container { bottom: 100px; left: 40px; width: 100%; transform: none;}
	/*.banner-slider .banner-text-new h2 br { display: none; }
	.banner-slider .banner-text-new { width: 100%; text-align: center; }
	.banner-slider .banner-text-new h2 { font-size: 24px; }
	.banner-slider .banner-text-new p { font-size: 19px; }
	.banner-slider .banner-part .container { bottom: 55px; }*/
	
	.rc .rc-right .global-foyer { margin-bottom: 20px; }
	.plan-feature-main .tab-system .tab-text-part { margin-right: 17px; }
	.banner-text.inner .banner-text-left h3 { padding: 19px 0px; font-size: 17px; }
	.plan-feature-main .nav.nav-tabs1 > li > a { padding: 10px 18px; }
	.plan-feature-main .tab-content { float: left; width: 100%; }
	.plan-feature-main .tab-content .tab-pane  { float: left; width: 100%; }
	.plan-feature-main .tab-system .tab-text-part p { font-size: 14px; }
	.location-map .map-location { width: 45%; } 
	.global_value ul li .box { padding: 20px; }
	.global_value ul li .box p { padding-right: 0px; }
	.global_value ul li .box h3 { font-size: 17px; }
	.flagship-area h2.title { font-size: 30px; }
	.environment2 ul li .box .text-box { padding: 20px 20px 33px 20px; }
	.flagship-area h2.title { margin-bottom: 10px; }
	.flagship-area p.desc { font-size: 17px; line-height: 24px; }
	.csr-grey-box .support-box h3 { font-size: 20px; line-height: 24px; margin-bottom: 10px; margin-top: 0px;}
	.csr-grey-box .support-box p { font-size: 16px; line-height: 24px; }
	.environment2 ul li { padding: 0px 30px; }
	.environment2 ul { margin: 0px -30px; }
	.environment2 ul li .box .text-box { right: -17px; }
	.environment .container { height: 418px; }
	.environment .box.right .img { height: 418px; }
	.flagship-area .top-desc { padding: 0px 12%; }
	.flagship-area .top-desc p br { display: none; }
	.marriage-c .community h2.title { margin-bottom: 10px; font-size:20px; }
	.marriage-c .community p { font-size: 16px; }
	.media-area .media-list li { width: 50%; } 
	
	.career-area .top-area { margin: 0px; float:left; width: 100%; }
	.career-area .top-area .box, .career-area .top-area .box.right { width: 100%; padding: 0px; margin-bottom: 20px; }
	.locations ul li .box { padding: 20px 30px; }
	
	.contactus .multiple-add ul li address br { display: none; }
	.contactus .site-offices ul li { width: 50%; }
	#CaptchaDiv { width: 100px; }
	#CaptchaInput { width: 120px; }
	.capbox { margin-bottom: 8px; } 
	form .fields .field .input-box { width: 100%; margin-bottom: 10px; }
	form .fields .field .select-box { width: 100%; }
	form .fields .field { margin-bottom: 0px; }
	.about-area .container { width: 100%; }
	.chairmen-msg .box { padding: 30px; background-position: 10% 0px; } 
	.location-map .container { width: 100%; } 
	.location-map .map-location { width: 100%; margin-top: 0px; }
	.location-map .map-location .google-map { width: 100% !important; }
	.location-map .location-map-main { width: 100%; margin-bottom: 30px; } 
	 .environment2 ul li { width: 100%; } 
	 .environment2 { margin-bottom: 78px; }
	 .environment2 ul li .box .text-box { right: -20%; width: 80%; top: 0px; margin-top: -78px; height: auto; min-height: 0px; } 
	 .plan-feature-main .Walkthrough .elev-slider iframe { width: 100%; }
	 .plan-feature-main .key-heighlight ul.key-list li { width: 33.33%; }

	 .overview .container { width: 100%; }
	 #spec-slider .item .tab-text-part { min-height: 400px; }

	 .csr-area p { font-size: 14px; line-height: 20px; }
	 .csr-grey-box .box.right img { margin-top: 40px; }

	 .flagship-area .top-desc { padding: 0px; }
	 .flagship-area h2 { margin: 0px 0px 15px; }
	 .envir-list ul li { width: 50%; }
	 .envir-list ul li .box .img { text-align: center; padding-top: 15px; }
	 .envir-type .white-box h3 { margin: 0px 0px 5px; }
	 .envir-type .box.left .white-box { padding: 16px 33px 15px 0px; }

	 .header .navbar-default .navbar-nav li.dropdown a.dropdown-toggle { position: relative; z-index: 9; }
	 .header .navbar-default .navbar-nav li.dropdown a.dropdown-toggle:before { content: ""; display: inline-block;  opacity: 1;  position: absolute;  top: 13px;  right: 15px;  width: 0;  height: 0;  z-index: 10;  border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-left: 10px solid #000; transition: 0.5s ease-in-out; -moz-transition: 0.5s ease-in-out; -webkit-transition: 0.5s ease-in-out; -ms-transition: 0.5s ease-in-out;	}
	.header .navbar-default .navbar-nav li.dropdown.open a.dropdown-toggle:before {transform:rotate(90deg);  transition: 0.5s ease-in-out;
	    -moz-transition: 0.5s ease-in-out; -webkit-transition: 0.5s ease-in-out; -ms-transition: 0.5s ease-in-out;	}
	.header .navbar-default .navbar-nav li.dropdown ul.dropdown-menu { height: 0px; display:block !important; margin: 0px; padding: 0px; overflow:hidden; transition: 0.5s ease-in-out; -moz-transition: 0.5s ease-in-out; -webkit-transition: 0.5s ease-in-out; -ms-transition: 0.5s ease-in-out; }
	.header .navbar-default .navbar-nav li.dropdown.open ul.dropdown-menu { height: auto; padding: 15px; transition: 0.5s ease-in-out; -moz-transition: 0.5s ease-in-out; -webkit-transition: 0.5s ease-in-out; -ms-transition: 0.5s ease-in-out; }
	.header .navbar-right li.dropdown ul.dropdown-menu { visibility: visible; opacity: 1; }
	.header .navbar-collapse.collapse.in { box-shadow: 0px 9px 14px -6px #000; -moz-box-shadow: 0px 9px 14px -6px #000; -webkit-box-shadow: 0px 9px 14px -6px #000; -ms-box-shadow: 0px 9px 14px -6px #000; -o-box-shadow: 0px 9px 14px -6px #000; }

	.view-cont { min-height: 330px; }
	.view-cont .info { height: 165px; }

	.location-map .map-location .map iframe { height: 480px; }

	.businesses .overlay .text1 { margin-top:20px; }
	.leasing-area .box .add-info .mail a { font-size: 11px; }
	.leasing-area .rc-right .global-foyer { min-height: 0px; }
	.leasing-area .rc-right .global-foyer .a-one { position: relative; left: 0px; margin-top: 10px; }

	.about-bottom .box.right {  }
	.about-bottom .box.right p { font-size: 20px; }

	.banner.inner-b.csr .banner-part1 .caption2 ul li p { font-size: 18px; line-height: 20px; }
	.banner.inner-b.cl .banner-part1 .caption2 ul li p { font-size: 18px; line-height: 20px; }

}

@media (min-width:768px) {
	.plan-feature-main .nav-tabs1 { display: block !important; }
}

@media (max-width:767px) {
	.header .container-fluid .navbar-header { margin: 0px; }

	.banner { height: auto !important; width: 100% !important; overflow-x: hidden; overflow-y: hidden; }
	.banner-slider  { height: auto; }
	.banner-slider .owl-stage-outer { height: auto; }
	.banner-slider .owl-stage { height: auto; }
	.banner-slider .owl-item { height: auto; }
	.banner-slider .owl-item .item { height: auto; }
	.banner-slider .item { position: relative; }
	.banner-slider .banner-text-new  { text-align: center; width: 100%; text-align: center; position: relative; bottom: 0px; padding: 10px 10px; left: 0px; transform: none; }
	.banner-slider .banner-part .container { height: auto; padding:0px; display: block; width: 100%; position: absolute; top: auto; bottom: 0px; left: 0px; transform: none !important; /*background: rgba(0, 0, 0, 1);*/ }
	.banner-text .banner-text-left h2{ text-align: left; padding:0px 10px; text-align: center; }
	.banner-slider .banner-text-new h2 { font-size: 25px; letter-spacing: 0px; }
	.banner-slider .banner-text-new h2 br { display: none; }
	.banner-slider .banner-text-new p { float: none; display: inline-block; letter-spacing: 0px; width: 100%; font-size: 20px; padding: 10px 10px; margin-top:0px; }
	.banner-slider .banner-part { height: auto; background: none; min-height: 0px; }
	.banner-slider .banner-part img { display: block !important; position: relative; }
	.banner-text { margin-top: 0px; }
	.banner-text.inner { margin-top: 0px; } 
	.banner-text .container { padding: 0px; }
	.banner-text .banner-text-right { padding:0px; }
	.banner-slider.owl-theme .owl-nav { right: 27px; }
	.banner-slider .banner-text-new p:empty { display:none; }

	.banner .banner-part1 { background: none !important; min-height: 0px; margin-top: 0px; }
	.banner .banner-part1 img { display: block !important; }
	.businesses-main .businesses-box { margin-right: 3%; }
	.businesses-img .businesses-top { margin-bottom: 6px; }
	.brands-main .brands-left { min-height: 0px; }
	.brands-main .brands-right { padding: 20px 0px 0px; }
	.rc { padding-bottom: 30px; }
	.rc .rc-main .rc-left { margin-bottom: 30px; padding: 0px 10px; }
	.rc .tab-text .tab-text-left { padding: 0px; margin-bottom: 20px; }
	.rc .rc-right .global-foyer { margin-bottom: 20px; height: auto; float:left; width: 100%; }
	.banner-text.inner .banner-text-left { text-align: center; }
	.banner .rotate-part .banner-bottom .banner-bottom-left { width: 130px; padding: 5px 13px; margin-top: 13px; }
	.banner .rotate-part .banner-bottom .banner-bottom-right a { font-size: 12px; height: 34px; line-height: 20px; padding: 7px 16px 7px 20px;  }
	.banner .rotate-part .banner-bottom .banner-bottom-right a img { width: 25px; }
	.bre ul { text-align: center; padding-top: 0px; }
	.plan-feature-main .nav.nav-tabs1 > li { float: none; display: inline-block; margin-bottom: 10px; }
	.plan-feature-main .tab-system .tab-text-part { width: 100%; padding-right: 0px; min-height: 0px; }
	.plan-feature-main .tab-system .tab-text-part p { font-size: 17px; }
	.location-map .map-location { position: relative; width: 100%; padding-left: 0px; }
	.location-map .map-location img { height: auto; }
	.location-map .location-map-main p br { display: none; }  
	.downloads-icon .downloads-icon-text a { width: 130px !important; height: 130px !important; background-size: cover !important; }
	.downloads-icon .downloads-icon-text p { font-size: 14px; }
	.mission-box li .box { width: 82%; }
	.global_value ul li .box { padding: 15px; text-align: center; position: relative; }
	.global_value ul li .box:before { content:""; display: inline-block; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background: rgba(255, 255, 255, 0.7); z-index: 9; }
	.global_value ul li .box h3 { font-size: 18px; position: relative; z-index: 10; }
	.global_value ul li .box p { line-height: 24px; position: relative; z-index: 10; }
	.global_value ul li .box { background-size: cover !important; }
	.global_value h2 { font-size: 27px; }
	.environment2 ul li .box .text-box { right: -20%; }
	.header .headerfix .navbar-brand > img { width: 230px; }
	.banner-text .banner-text-left h3 { text-align: center; }
	/*.marriage-c .container { width: 100%; padding: 0px;}
	.media-area .container { padding: 0px; width: 100%; }
	.media-area { padding: 68px 15px 34px; }*/
	.container { overflow:hidden; }
	.media-area .container{ padding: 0px; }
	.media-area .media-list ul { margin: 0px; }
	.locations ul { margin: 0px; }
	.locations ul li { padding: 0px 10px; }
	.locations ul li .box { text-align: center; padding: 20px 5px; }
	.locations ul li .box h3 { font-size: 19px; }
	#CaptchaDiv { font-size: 17px; width: 81px; margin-bottom: 10px; }
	form .fields .field.buttons input { min-width: 133px; margin-bottom: 10px; }
	.about-area .about-content .box.left { width: 100%; padding-right: 0px; margin-bottom: 20px; } 
	.about-area .about-content .box.right { width: 100%; }
	.about-area .about-content .box p { text-align: center; }
	.latest-news .container { overflow:inherit; }
	.banner-text .banner-text-left h3 span { position: relative; top:-1px;}
	.plan-feature-main .Walkthrough { padding:0px; }
	.owl-theme .owl-dots .owl-dot span { border-radius: 50%; }
	.plan-feature-main .floorplan .floorplan-list li { width: 100%; margin-bottom:  50px; }
	.plan-feature-main .floorplan .floorplan-list li .buttons a.btn { width: auto; }
	.plan-feature-main .key-heighlight ul.key-list li .desc p br { display:none; }
	.plan-feature-main .key-heighlight ul.key-list li .desc p { font-size: 15px; }
	.banner-slider {  }
	.overview .box.left { margin-bottom: 25px; }
	.overview .box p, .overview .box h4 { text-align: center; }
	.banner-text.bre-slider .bre { padding-right: 0px; }

	.mission-box li.vision { position: relative; }
	.mission-box li.vision:before { content: ""; position: absolute; display: inline-block; width:100%; height: 100%; top: 0px; left: 0px; z-index: 9; background: rgba(0, 0, 0, 0.4); }
	.mission-box li .box { z-index: 10; }
	#spec-slider .item .tab-text-part { min-height: 470px; }

	.online-pay p { font-size: 25px !important; }

	.banner-text.inner.bre-slider { margin-top: 0px; } 

	.about-area .top-content .box.left { width: 100%; text-align: center; margin-bottom: 20px; }
	.about-area .top-content .box.right { padding: 0px; width: 100%; text-align: center; }
	.about-area .top-content p { text-align: center; }
	.about-area .about-content .box.right { padding: 0px; }
	.about-area .about-content .box.right a { text-align: center; }

	.envir-type .box.left { width: 100%; text-align: center; height: auto; margin-top: 20px; }
	.envir-type .box.left .white-box { position: relative; top: 0px; padding-right: 0px; transform: none !important; } 
	.envir-list ul { margin-bottom: 0px; }
	.envir-type .box.right { width: 100%; }
	.envir-type .white-box h3 { margin: 0px 0px 15px; }
	.envir-type .box.right .img { text-align: center; }
	.envir-type .box.right .img span img { float: none; max-width: 100%; }
	.envir-type .box { height: auto; }
	.envir-list ul li .box:before { display: none; } 

	.header .navbar-collapse.collapse.in { box-shadow: 0px 9px 14px -6px #000; -moz-box-shadow: 0px 9px 14px -6px #000; -webkit-box-shadow: 0px 9px 14px -6px #000; -ms-box-shadow: 0px 9px 14px -6px #000; -o-box-shadow: 0px 9px 14px -6px #000; }

	.nav-tabs2.nav-tabs { text-align: center; margin-top:0px; }
	.nav-tabs2.nav-tabs>li { float:none; display: inline-block; padding: 0px; margin: 0px 15px 15px; }
	.nav-tabs2.nav-tabs>li:first-child:before { height: 2px; width: 75px; display:none; }

	.plan-feature-main .tab-system button.navbar-toggle { display: block !important; border-radius:0px; line-height: 3px; padding: 12px 10px 16px; width: 100%; text-align: center; margin: 0px 0px 0px; background: #000; }
	.plan-feature-main .tab-system button.navbar-toggle .icon-bar { display: inline-block; width: 100%; height: 2px; position: relative;}
	.plan-feature-main .tab-system button.navbar-toggle .icon-bar:first-child { margin-top: 0px; }
	.plan-feature-main .tab-system button.navbar-toggle .icon-bar:before { content: ""; position:absolute; display: inline-block; height: 2px; width: 22px; top: 0px; left: 50%; background: #fff; transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); }

	.plan-feature-main .tab-system button.navbar-toggle.open + ul#product-tabs-area { display:none; }
	.plan-feature-main .tab-system ul#product-tabs-area { background:#fff; float:left; } 
	.plan-feature-main .tab-system ul#product-tabs-area li { margin: 0px; float: left; width: 100%; }
	.plan-feature-main .tab-system ul#product-tabs-area li a { border-radius:0px; border-top:1px solid #f1f1f1; }
	.plan-feature-main .tab-system ul#product-tabs-area li.active a { border-top:0px; }

	.plan-feature-main .tab-content .elev-slider { padding: 0px; }
	.plan-feature-main .tab-content .tab-pane iframe { padding: 0px; }

	.banner.inner .rotate-part { bottom: 10px; }

	.downloads-icon .downloads-icon-text .one-e:hover { background-size:cover !important; }

	.view-cont { min-height: 300px; }
	.view-cont .info { height: 138px; } 

	.location-map .map-location .map iframe { height: 340px; }

	.rc-right .panel-collapse .panel-body .col-lg-6 { float: left; }

	.nav-tabs-m.nav-tabs>li>a { margin-bottom: 5px; }
	#swipebox-close { right: 10px; }
	.leasing-area .box .add-info .mail a { font-size: 16px; }

	.about-bottom .box { height: auto; }
	.about-bottom .box.right { padding: 20px 20px; }
	.about-bottom .box.right p { line-height: 24px; }
	.about-bottom .box.left .quote { bottom: 20px; }

	.banner.inner-b.csr .banner-part1 .caption2 { transform: none !important; padding: 20px; bottom: 0px; float:left; width: 100%; background:#83ac3f; position: relative; }
	.banner.inner-b.csr .banner-part1 .caption2 ul { float:left; width: 100%; margin-bottom: 0px; }
	.banner.inner-b.csr .banner-part1 .caption2 ul li { float:left: width:100%; }
	.banner.inner-b.csr .banner-part1 .caption2 ul li p { display: block; width: 100%; text-align: center; }
	.banner.inner-b.csr .banner-part1 .caption2 ul li p br { display: none; }
	.banner.inner-b.csr .banner-part1 .caption2 ul li:last-child { margin-bottom: 0px; }
	.banner.inner-b.csr .banner-part1 .caption2 ul li:last-child p { border-bottom: 0px; }

	.banner.inner-b.cl .banner-part1 .caption2 { transform: none !important; padding: 20px; bottom: 0px; float:left; width: 100%; background:#83ac3f; position: relative; }
	.banner.inner-b.cl .banner-part1 .caption2 ul { float:left; width: 100%; margin-bottom: 0px; }
	.banner.inner-b.cl .banner-part1 .caption2 ul li { float:left: width:100%; }
	.banner.inner-b.cl .banner-part1 .caption2 ul li p { display: block; width: 100%; text-align: center; }
	.banner.inner-b.cl .banner-part1 .caption2 ul li p br { display: none; }
	.banner.inner-b.cl .banner-part1 .caption2 ul li:last-child { margin-bottom: 0px; }
	.banner.inner-b.cl .banner-part1 .caption2 ul li:last-child p { border-bottom: 0px; }

	.banner-bottom .banner-bottom-right.spaces { margin-top: 60px; }

	.banner-text.front .banner-text-left { display:none; }
}

@media (max-width:667px) { 
	.csr-grey-box .support-box .box { width: 100%; text-align: center; }
	.csr-grey-box { padding: 26px 0px; }
	.flagship-area .top-desc { padding: 0px 15px; }
	.flagship-area h2 { font-size: 28px; }
	.environment .box { width: 100%; float: left; }
	.environment .box.left { width: 100%; background: rgba(255, 255, 255, 0.8); padding: 24px 20px 20px 20px; top: 0px; transform: none; }
	.environment .box.right .img { position: relative; width: 100%; }
	.environment .box.right { float: left; width: 100%; }
	.environment2 ul { margin: 0px; }
	.environment2 ul li { width: 100%; text-align: center; padding: 0px; }
	.environment2 ul li .box .text-box { right:0px; margin-top: 20px; top: 0px; text-align: center; }
	.flagship-area h2.title { text-align: center; }
	.environment2 ul li .box.right { margin-top: 40px; }
	.environment .container { margin-top: 50px; }
	.environment.two { margin-bottom: 0px; }
	.flagship-area { padding: 45px 0px 45px; }
	.marriage-c .community .box { width: 100%; text-align: center; }
	.marriage-c .community { margin: 0px; }
	.flagship-area p.desc { text-align: center; }
	.flagship-area .top-desc { margin-bottom: 0px; }
	.environment .container { height: auto; }
	.environment .box.right .img { height: auto; }
	.environment .box.right .img { background: none !important; }
	.environment .box.right .img img { display: inline-block !important; }
	.environment2 ul li .box .text-box { width: 100%; right: 0px; margin-top: 0px; }
	.environment2 { margin-bottom: 0px; }
	.plan-feature-main .Walkthrough .elev-slider iframe { height: 250px; }
	.banner-text.front .banner-text-right {  }
	.chairmen-msg h2 { width: 100%; text-align: center; padding: 20px; line-height: 35px; font-size: 35px; }
	.chairmen-msg h2 br { display: none; }
}

@media (max-width:640px) {
	.header .logo-img-part .drop-one1 { width: 100%; padding: 0px 20px; display:none; }
	.header .logo-img-part .drop-one { width: 33.33%; }
	.footer-main .footer-two, .footer-main .footer-three, .footer-main .footer-four { width: 100%; text-align: center; }
	.footer-main .footer-five { width: 100%; text-align:center; }
	.news-box .news-text { width: 100%; padding: 0px !important; border: 0px; margin-bottom: 30px; }
	.media-area .media-list li .box .info { padding: 20px 15px; text-align: center; min-height: 160px; }
	.media-area .media-list li .box .info .title { font-size: 17px; }
	.media-area .media-list li .box .info .desc { font-size: 16px; min-height: 0px; }
	.contactus .getintouch { margin: 0px; }
	.contactus .getintouch .box { width: 100%; margin-bottom: 20px; padding:0px; }
	.contactus .getintouch .box.right { width: 100%; }
	.contactus .multiple-add ul { margin: 0px; }
	.contactus .multiple-add ul li { width: 100%; margin-bottom: 30px; }
	.contactus .site-offices ul { margin: 0px; }
	.contactus .site-offices ul li { width: 100%; margin-bottom: 0px; }
	.contactus .site-offices ul li .box address { min-height: auto; }
	.contactus .site-offices ul li .box { min-height: 0px; }
	.contactus h2 { text-align: center; }
	.contactus .getintouch form .field.captcha .input-box { text-align: center; }
	.contactus .getintouch form .field.captcha .input-box .capbox { float: none; display: inline-block; width: auto; }
	form .fields .field.buttons .input-box { text-align: center; }
	form .fields .field.buttons .input-box input { display: inline-block; float: none; }
	.contactus .site-offices h3 { text-align: center; }
	#CaptchaDiv { margin-right: 5px; }
	.location-map .map-location .google-map { height: 300px !important; }
	.plan-feature-main .key-heighlight ul.key-list li { width: 50%; }

	.csr-grey-box { padding: 0px; }
	.csr-grey-box .box.left { padding-left: 0px; width: 100%; text-align: center; }
	.csr-grey-box .box.right { padding:0px; text-align: center; width: 100%; }

	.envir-list ul li { width: 100%; margin-bottom: 20px; }
	.envir-list ul li .box { min-height: 0px; }

	.banner.inner-b.csr .banner-part1 .caption2 h2 br { display: none; }
}

@media (min-width:568px) and (max-width:667px) {
	.header .navbar-default .navbar-nav>li>a { padding: 5px 19px; font-size: 14px; }
	.navbar-collapse.collapse.in { height: 220px; }
}

@media (max-width:567px) {
	.mission-box li .box { text-align: center; padding: 5px 10px; width: 100%; left: 0px; }
	.mission-box li.vision .box { right: 0px; background-position: right bottom; }

	.header .b-menu .b-menu-left { width: 100%; margin-right: 0px; text-align:center; }
	.header .b-menu .nav-tabs-m { width: 100%; margin-bottom: 0px; float: none; display: inline-block; }
	.header .b-menu .b-menu-right { width: 100%; }
	.header .com-main .com-right { display: none; }
	.header .com-main .com-left { width: 100%; padding: 0px; } 
	.header .com-main .com-left ul li a { line-height: 30px; text-align: center; }

	.banner-slider .banner-part {  }
	.banner-slider .banner-text-new h2 { font-size: 19px; }
	.banner-slider .banner-text-new p { font-size: 15px; width: auto; padding: 5px 10px; }
	.banner-text .banner-text-left h2 { font-size: 14px; }
	.businesses-img .text { font-size: 15px; top: 43%; }
	.rc .rc-right .panel { padding: 20px 20px; }
	.rc .rc-right .panel-body h2 { font-size: 19px; }
	.downloads-icon .downloads-icon-text { width: 50%; margin-bottom: 45px; }
	.downloads-main .downloads-icon { display: block; }
	.global_value ul li { width: 100%; position: relative; } 
	.global_value ul li .box { text-align: left; padding: 30px; }
	.global_value ul li .box h3 { margin-bottom: 20px; }
	.mission-box li .box h2 { margin-bottom:10px; font-size: 30px; }
	.mission-box li .box p { font-size: 18px; line-height: 24px; }
	.locations ul li .box h3 { font-size: 17px; }
	.locations ul li .box a { font-size: 14px; }
	.career-area h2 { font-size: 25px; text-align: center; }
	.career-area .top-area p { text-align: center; }
	.chairmen-msg { text-align: center; }
	.chairmen-msg h2 { width: 100%; font-size: 40px; padding: 10px; }
	.chairmen-msg .box { padding: 15px; }
	.media-area .media-list li .box .info .desc { font-size: 14px; }
	.plan-feature-main .floorplan .buttons a.btn { font-size: 17px; }
	.plan-feature-main .tab-content .tab-pane iframe { height: 400px; }
	.overview .overview-main p { text-align: center; }
	.overview .overview-main h4 { text-align: center; }
	.overview .overview-main .float_img { margin:0px 0px 20px; float: none; text-align: center; width: 100%; }
	.overview .overview-main h2 br { display: none; } 
	
}

@media (max-width:479px) {
	.header .logo-img-part .drop-one { width: 50%; }
	.header .logo-img-part .drop-one.two, .header .logo-img-part .drop-one.three { display:none; }
	.header .logo-img-part .row div:nth-child(4) { width: 100%; margin-top: 0px; margin-bottom: 0px; text-align: center; } 
	.header .com-main .com-left { padding-right: 0px; margin-bottom: 30px; text-align: center; width:100%; } 
	.header .com-main .com-right { width: 100%; }
	/*.banner-slider .banner-part .container { position: relative; overflow:inherit; }
	.banner-slider .banner-text-new { padding: 5px 5px; background: #ff9c00; min-height: 46px; overflow:inherit; } 
	.banner-slider .banner-text-new h2 { font-size: 14px; line-height: 20px; margin-top: -26px; font-weight: 600; }
	.banner-slider .banner-text-new p { font-size: 13px; font-weight: 400; line-height: 16px; padding: 10px 10px 0px; }*/
	.banner-slider .banner-text-new h2  { font-size: 13px; line-height: 20px; }
	.banner-slider .banner-text-new p { font-size: 13px; line-height: 16px; font-weight: 400; background: rgba(255, 156, 0, 0.8); }
	.rc .rc-right .global-foyer .pull-left { width: 115px; }
	.banner-slider .banner-text-new h2 br, .banner-slider .banner-text-new p br { display: none; }
	.rc .rc-right .panel-body h2 { font-size: 16px; }  
	.banner .rotate-part { position: relative; margin-bottom: 10px; bottom: 0px; }
	.banner .rotate-part .banner-bottom .banner-bottom-left { width: 100%; text-align: center; }
	.banner .rotate-part .banner-bottom .banner-bottom-right { width: 100%; text-align: center; }
	.banner .rotate-part .banner-bottom .banner-bottom-right a { float: none; display: inline-block; margin: 0px 5px 10px; }
	.shops-slider.owl-theme .owl-dots .owl-dot span { margin: 5px 2px; width: 7px; height: 7px; }
	.global_value ul li .box { padding: 20px; text-align: center; }
	.banner-text .banner-text-left h3 { text-align: center; }
	.media-area .media-list li { width: 100%; }
	.media-area .media-list li .box .img img { width: 100%; }
	form .fields .field .input-box label.custom-file-upload { text-align: left; }
	form .fields .field .input-box label.custom-file-upload:before { min-width: 96px; font-size: 13px; }
	form .fields .field .input-box { width: 100%; text-align: center; margin-bottom: 10px; }
	form .fields .field { margin-bottom: 0px; }
	.locations ul li { width: 100%; }
	.location-map .location-map-main p { font-size: 15px; } 
	.location-map .location-map-main p a { font-size: 15px; }
	.map-area h2 { text-align: center;  }
	.location-map .location-map-main p a { padding-left: 51px; }
	.location-map .location-map-main p span { min-width: 45px; }
	.media-area .media-list li .box .info .desc {  }
	.media-area .media-list li .box .info { min-height: auto; }
	.plan-feature-main .Walkthrough .elev-slider iframe { height: 200px; }
	.owl-theme .owl-dots .owl-dot span { margin:5px 2px; width: 7px; height: 7px; }
	.plan-feature-main .key-heighlight ul.key-list li { width: 100%; margin-bottom: 20px; min-height: 0px; } 
	.plan-feature-main .key-heighlight ul.key-list li .desc p { min-height: 0px; }
	.banner-slider { position: relative; }
	.banner-slider.owl-theme .owl-nav { position: absolute; bottom: -34px; z-index: 99; }
	.about-area .environment.about .box.left p { text-align: center; } 

	.plan-feature-main .tab-content .tab-pane iframe { height: 280px; }

	.chairmen-msg h2 { font-size: 25px; line-height: 27px; }
	form .fields .field.checkbox .input-box .form-check  label#gender-error { font-size:9px; top: 19px; }


	.about-bottom .box.left h2, .about-bottom .box.left p { text-align: center; }

}

@media (max-width:360px) {
	.header .logo-img-part .drop-one { width: 100%; margin-bottom: 30px; }
	.header .navbar>.container-fluid .navbar-brand { width: 210px; margin-top: 0px; }
	.banner-slider .banner-text-new h2 { font-size: 16px; }
	.banner-slider .banner-text-new p { display: none; }
	.banner-slider .banner-text-new { min-height: 65px; }
	.businesses-main .businesses-box { margin-right: 0px; width: 100%; margin-bottom: 5px; }
	.businesses .overlay .text { padding:0px 20px; }
	.news-box .news-text { text-align: center; }
	.news-box .news-text a { display: inline-block; }
	.businesses-img .text { font-size: 25px; top: 50%; }
	.rc .rc-right .global-foyer .a-two, .rc .rc-right .global-foyer .a-one { width: 90px; }
	.rc-right .global-foyer .a-two { left: 117px; }
	.rc .rc-right .panel-body h3 { font-size: 14px; }
	.career-area h2 { font-size: 20px; }
	.chairmen-msg h2 { font-size: 33px; }
	.plan-feature-main .Walkthrough .elev-slider iframe { height: 170px; }

	.chairmen-msg h2 { font-size: 20px; line-height: 22px; }
	form .fields .field.checkbox .input-box .form-check  label#gender-error { width: 100%; text-align: center; top: auto; bottom: -7px; }
}

@media (max-width:320px) {
	.banner-slider .banner-text-new p { display: none; }
}